.about-us__team {
    margin-bottom: var(--section-gap);
}

.au-team__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;

    transition: var(--main-trs);
}

.au-team__content {
    max-width: 519px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.au-team__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--black);
}

.au-team__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 57px;
}

.au-team__image img {
    display: block;
    margin: 0;
}

.au-team__rect {
    position: absolute;
    left: 0;
    top: 114px;
    z-index: 10;
}

.rect--hidden {
    display: none;
}

@media (any-hover: hover) {
    .au-team__container:hover {
        transform: scale(1.05);
        background-color: var(--light-yellow);
    }
}