.header {
    padding: 12px 0;
    background-color: var(--black);
    visibility: visible;
    transform: none;

    position: sticky;
    top: 0;
    z-index: 100;
    transition: visibility 0.3s ease, transform 0.3s ease;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__btn {
    background-color: var(--light);
}

.header--hidden {
    transition: transform 0.3s ease, visibility 0.3s ease;
    transform: translateY(-100%);
    visibility: hidden;
    overflow-y: auto;
}